{% extends 'system-mails-base.html.twig' %}
{% block body %}
    <p style="color: #fff;">Kliknij <a style="color:#c7141a" href="{{ app.request.host ~ hash }}">tutaj</a> żebyy aktywować konto</p>
{% endblock %}
